@mixin responsive($device-size) {
  @media screen and (min-width: $device-size) {
    @content;
  }
}

@mixin flex($flexSpacing) {
  display: flex;
  justify-content: $flexSpacing;
}

@mixin listStyle($backgroundColor, $padding) {
  list-style: none;
  background-color: $backgroundColor;
  padding: $padding;
}

@mixin headerBodyHeadings($color, $margin, $fontSize) {
  color: $color;
  margin: $margin;
  font-size: $fontSize;
}

@mixin animateText($xPosInPerCent, $duration, $animationStyle) {
  @keyframes sliding {
    from {
      transform: translateX($xPosInPerCent);
    }
    to {
      transform: translateX(0%);
    }
  }
  animation: sliding $duration $animationStyle;
}
