//global styling
$boxSizing: border-box;
$fontSize: 16px;
$padding: 0px;
$margin: 0px;
$color: #d7d1d1eb;
$fontFamily: "Montserrat", sans-serif;
$backgroundColor: #313132;
//media
$small-screen: 350px;
$medium-screen: 1000px;
